@font-face {
  font-family: RobotoMono;
  src: url(RobotoMono.ttf);
}

body {
  background-color: #efefef;
}

textarea {
  /* Paper Background */
  background-image: linear-gradient(to bottom, rgba(0,0,0,.1) 1px, transparent 1px);
  background-attachment: local;
  background-size: 100% 1.5rem;
  background-color: #efefef;
  border: none;
  /* Font */
  font-family: RobotoMono, monospace;
  line-height: 1.5;
  font-size: 1rem;
  /* Size */
  height: calc(100vh - 20px);
  padding: 0 .25rem;
  width: 100%;
}

textarea:focus {
  outline: none;
}
